* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    font-weight: normal;
    color: #333;
}

body {
    padding: 10px;
}

.control {
    margin-bottom: 10px;
}

.doc {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #aaa;
}

.area {
    font-size: 14px;
}

.brand {
    font-size: 18px;
}

.brand a {
    text-decoration: none;
}

.rank,
.flavor {
    font-size: 12px;
}

.searchScore {
    text-align: right;
    font-size: 5px;
}

.copyright {
    font-size: 12px;
}